@import "tailwindcss";

@theme {
  --color-ocean-900: #064e3b;
  --color-ocean-800: #065f46;
  --color-ocean-700: #047857;
  --color-ocean-600: #059669;
  
  --color-sand-500: #d4af37;
  --color-sand-300: #fde68a;
  --color-sand-100: #fef3c7;
  
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

html {
  scroll-behavior: smooth;
}
