@import "tailwindcss";

@theme {
  --color-ocean-900: #024173;
  --color-ocean-800: #035594;
  --color-ocean-700: #046cb8;
  --color-ocean-600: #057ecc;
  
  --color-sand-500: #01d8ec;
  --color-sand-300: #eaebef;
  --color-sand-100: #f8f9fb;
  
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

html {
  scroll-behavior: smooth;
}
